@import url('https://fonts.googleapis.com/css2?family=Inter& ');

:root {
    --color1: #9C9C9C;
    --bg1: #9C9C9C;

}

html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

body {
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
a {
    font-family: 'Inter', sans-serif !important;
}

p {
    font-size: 22px;
    font-family: 'Inter', sans-serif !important;
}


header,
footer,
section {
    padding: 100px 0;
    max-width: 100%;
    overflow-x: hidden;
    /*для горизонтального скрола*/

}

header {
    padding: 0px 0;
}


/* ШАПКА САЙТА */
.nav-link.active {
    color: var(--bs-white);
    background-color: var(--color1);
    border-radius: 0;
    font-size: 22px;
    font-weight: 500;
}

.navbar {

    --bs-navbar-color: var(--bs-white);
    --bs-navbar-padding-y: 0;


}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: var(--color1);
    border-radius: 0;
    font-size: 22px;
    font-weight: 500;
}

.nav-link {
    color: var(--bs-black);
    padding: 25px;
    font-family: 'Inter', serif;
    font-weight: 500;

}


.navbar-collapse :hover {

    color: var(--bs-white);
    background-color: var(--color1);
    border-radius: 0;
}

/*  раздел который везде */
.img-itd {
    border-radius: 35px;
}

.everywhere {
    background-color: var(--bg1);
}

.text-everywhere {
    padding-right: 110px;


    color: var(--bs-white);
}

.text-everywhere h2 {
    font-size: 40px;
}

.text-everywhere p {
    font-size: 30px;
}

/* новости, линия */
.line-date {
    margin: 64px 0;
    padding: 7px;
    background-color: var(--color1);
    color: var(--bs-white);
}

.date {
    padding-right: 1%;
}

/* биография */
/* статьи */
.articl-section {
    margin: 49px 0;
    max-height: 300px;
    padding: 42px 73px;
    background-color: var(--bg1);
    border-radius: 35px;

    color: var(--bs-white);

}


.imgg {
    height: 230px;
}

/* галлерея */
.img-gallery {
    border: var(--color1) solid 4px;
    border-radius: 35px;
    margin-bottom: 30px;
}

/* библиотека */
.library-text a {
    color: var(--bs-black) !important;
    font-family: 'Inter', sans-serif !important;
    text-decoration: none;
}

.library-text a :hover {
    color: red;

}

/* sss */
.sss {
    width: 100%;

}

.s-img {
    width: 100%;
    max-height: 500px;
    border-radius: 35px;
}

.emb-s {
    width: 100%;
    border-radius: 35px;
    height: 500px;
}

.video {
    margin-bottom: 150px;
}